package %1$s;

import ru.inversion.fx.form.JInvFXFormController;
import ru.inversion.fx.form.controls.*;
import javafx.fxml.FXML;

/**
 * @author  %4$s
 * @since   %5$s
 */
public class Edit%3$sController extends JInvFXFormController <%2$s> 
{  
//
//
//
%8$s
//
// Initializes the controller class.
//
    @Override
    protected void init () throws Exception 
    {
        super.init (); 
    }    

}

